@use "@/assets/styles/variables" as *;
@use "sass:color";
@mixin card() {
  background: white;
  transition: all 0.3s ease;
  border-radius: $border-radius-lg;
  box-shadow: $shadow-sm;
  overflow: hidden;
  position: relative;

  &.out-of-stock {
    opacity: 0.6;
  }

  figure {
    aspect-ratio: 3/2;
    border-bottom: 1px solid $border-color;
    display: block;
    position: relative;
    padding: 0;
    margin: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    .category {
      background: $dark-bg;
      color: white;
      padding: $spacing-xs $spacing-sm;
      border-radius: $border-radius-sm;
      font-size: 0.875rem;
      font-weight: 600;
      position: absolute;
      bottom: 10px;
      right: 10px;
    }
    &.placeholder {
      background-color: color.adjust($light-bg, $lightness: -10%);
      display: flex;
      align-items: center;
      justify-content: center;
      .icon {
        font-size: 6em;
        filter: grayscale(0.8);
      }
    }
  }

  .card-content {
    padding: $spacing-md;
    flex: 1;
    display: flex;
    flex-direction: column;
    color: $text-dark;
    gap: $spacing-sm;
  }

  .card-name {
    font-size: 1.25rem;
    font-family: $font-heading;
    font-weight: 600;
    color: $text-dark;
  }
  h3 {
    margin-bottom: unset;
  }

  .card-meta {
    display: flex;
    gap: $spacing-sm;
    flex-wrap: wrap;
  }

  .tag {
    background: $light-bg;
    padding: $spacing-xs $spacing-sm;
    border-radius: $border-radius-sm;
    font-size: 0.75rem;
    color: $text-dark;
  }

  &:hover {
    box-shadow: $shadow-lg;
    transform: translateY(-0.5rem);
  }

  &:not(a):hover {
    box-shadow: $shadow-sm;
    transform: none;
  }
}

@mixin tags() {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

@mixin tag() {
  background-color: $tag-bg;
  color: $tag-fg;
  padding: 0.5em 1.25em;
  border-radius: 0.35em;
  font-weight: 600;
}
