@use "@/assets/styles/variables" as *;

hgroup {
  padding-bottom: $spacing-xl;
  h1 {
    margin: unset;
    &.with-count {
      display: flex;
      align-items: center;
      gap: 0.25em;
      .count {
        font-size: 50%;
        font-family: $font-primary;
        font-weight: 500;
      }
    }
  }
  p {
    opacity: 0.7;
    font-size: 0.875rem;
    max-width: 86ch;
  }

  &.with-back {
    justify-content: space-between;
    display: flex;
  }

  .back-btn {
    display: inline-block;
    padding: $spacing-xs $spacing-md;
    background: white;
    color: $text-dark;
    border-radius: $border-radius-md;
    border: 2px solid $border-color;
    transition: all 0.15s linear;
    &:hover,
    &:focus-visible {
      border-color: $accent-color;
      color: $accent-color;
      box-shadow: $shadow-md;
    }
  }
}
