// Global styles
@use "sass:color";
@use "./variables" as *;

// BASE is for things like global site styles and typography.
@use "base/defaults";

// PAGES is for any specific page template
@use "pages/list";
