@use "sass:color";
@use "@/assets/styles/variables" as *;

.home-navigation {
  display: flex;
  gap: 40px;
  min-height: $height-minus-chrome;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}

.nav-card {
  background-color: rgba(255, 255, 255, 0.83);
  padding: $spacing-xl;
  border-radius: $border-radius-lg;
  text-align: center;
  flex-basis: 300px;
  color: $text-dark;
  aspect-ratio: 1/1;
  .count {
    font-size: 400%;
    font-weight: 200;
    color: $secondary-color;
  }
  p {
    font-size: 0.875rem;
  }

  box-shadow: $shadow-sm;
  transition: all 0.3s ease;
  &:hover,
  &:focus-visible {
    background-color: rgba(255, 255, 255, 0.98);
    box-shadow: $shadow-lg;
    transform: translateY(-0.5rem);
  }
}

main.template-home {
  position: relative;
  background-image: url(/public/images/bg/cabinet-inside.webp);
  background-size: cover;
  background-position: center;
  &:before {
    position: absolute;
    inset: 0;
    content: "";
    background-color: rgba(13, 13, 13, 0.88);
  }
  > * {
    position: relative;
  }

  .hero-section {
    position: relative;
    text-align: center;
    padding: $spacing-xxl 0;
    min-height: calc(100vh - 230px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    container-name: hero-section;
    container-type: inline-size;
    h1 {
      font-family: $font-heading;
      font-size: clamp(2.6rem, 20dvw, 11rem);
      line-height: 90%;
      color: rgba($primary-color, 0.9);
      margin-bottom: $spacing-md;
    }
    .lead {
      font-size: 1.25rem;
      color: $white;
      max-width: 600px;
      margin: 0 auto $spacing-xl;
    }
  }

  .cta-section {
    display: flex;
    gap: $spacing-lg;
    justify-content: center;
  }

  .cta-button {
    background-color: $primary-color;
    color: white;
    padding: $spacing-md $spacing-xl;
    border-radius: $border-radius-md;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    box-shadow: $shadow-sm;
    border: 2px solid color.adjust($accent-color, $lightness: -11%);

    &.primary {
      background-color: $accent-color;
      &:hover,
      &:focus-visible {
        background-color: color.adjust($accent-color, $lightness: -11%);
      }
    }
    &.secondary {
      background-color: transparent;
      color: color.adjust($accent-color, $lightness: 18%);
      border-color: color.adjust($accent-color, $lightness: 18%);
      &:hover,
      &:focus-visible {
        background-color: rgba(0, 0, 0, 0.5);
      }
    }

    &:hover {
      transform: translateY(-4px);
      box-shadow: $shadow-lg;
    }
  }

  @container hero-section (max-width: 600px) {
    .cta-section {
      flex-direction: column;
      width: 100%;
      max-width: 370px;
    }
  }
}

main:has(.home-navigation) {
  background-image: url(/public/images/bg/pexels-shkrabaanthony-4485358.webp);
  background-size: cover;
  background-position: bottom center;
  position: relative;
  &:before {
    position: absolute;
    inset: 0;
    content: "";
    background-color: rgba(13, 13, 13, 0.54);
  }
  > * {
    position: relative;
  }
}
