@use "sass:color";
@use "../variables" as *;
@use "@/assets/styles/abstracts/mixins" as *;

section.filters {
  // background-color: lime;
  .filter-buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
  }
  .tag-filters {
    padding-top: 1rem;
    max-width: 320px;
    margin-left: auto;
    padding-bottom: 1rem;
    > label {
      font-weight: 650;
      opacity: 0.6;
    }
    .tag-filter-select {
      font-size: 0.75rem;
    }
  }
}

.filter-btn {
  padding: $spacing-sm $spacing-lg;
  border-radius: $border-radius-md;
  background: white;
  border: 2px solid $border-color;
  font-weight: 600;
  transition: all 0.3s ease;
  cursor: pointer;

  &:hover {
    border-color: $accent-color;
    background: color.adjust($accent-color, $lightness: 45%);
  }

  &.active {
    background: $accent-color;
    color: white;
    border-color: $accent-color;
  }
}
